@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
body {
    padding: 0;
    margin: 0;
}
#area {
    width: 100%;
    height: 50vh;
    border: solid 2px deeppink;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
}
span {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    opacity: 0.4;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding: 0;
    margin: 0;
}
.stone {
    position: absolute;
    height: 50px;
    width: 50px;
    margin: 10px;
    transform: rotate(45deg);
    background-color: pink;
    cursor: pointer;
    padding: 0;
    margin: 0;
}
  
.stone[value="off"] { border: 2px dashed black; }
#red {
    float: left;
    left: 2%;
    top: 2%;
    background-color: #D21F3C;
}
#green {
    float: left;
    left: 5%;
    top: 9%;
    background-color: rgb(61, 145, 61);
}
#blue {
    left: 8%;
    top: 16%;
    background-color: rgb(80, 80, 213);
}
#yellow {
    left: 11%;
    top: 23%;
    background-color: rgb(240, 240, 104);
}
#pink {
    left: 14%;
    top: 30%;
    background-color: rgb(252, 78, 107);
}
#purple {
    left: 17%;
    top: 37%;
    background-color: rgb(97, 31, 97);
}
