@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
body {
    padding: 3% 10%;
}
h1 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2%;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.main {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    width: 100%;
    border-radius: 15px;
}
.list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    height: inherit;
    padding: 3%;
}
.list .element{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1em;
    padding: 5% 0;
    margin: 5% 0;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 10px;
    background-color: #97B3DA;
    color: white;
    width: 100%;
    text-align: center;
    transition: .5s cubic-bezier(1,.01,.37,.71);
    transition-property: background-color, border-radius, border, border-color;
}

.info {
    width: 70%;
    padding: 3% 0;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}
.info #data {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.info #data h2 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2em;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-align: start;
    margin: 0;
    padding: 0;
}
.info #data small { 
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: .7em;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-align: start;
    margin: 0;
    padding: 0;
}
#data div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#data div label {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: .8em;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: #97B3DA;
    color: white;
    border-radius: 8px;
    word-wrap: normal;
    padding: 2%;
    margin-right: 2%;
    margin-top: 2%;
    transition: .5s cubic-bezier(1,.01,.37,.71);
    transition-property: background-color;
}
#data span {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1em;
    cursor: default;
    word-wrap: normal;
}
.info #image {
    display: flex;
    width: 40%;
    height: initial;
    margin-left: 3%;
}
.info #image img {
    width: 100%;
    border-radius: 10px;
    transition: .5s cubic-bezier(1,.01,.37,.71);
    transition-property: background;
}
.info #image img.crossfade {
    -webkit-filter: blur(4px); filter: blur(4px);
    -webkit-filter: blur(5px); filter: blur(5px);
    -webkit-filter: blur(7px); filter: blur(7px);
    -webkit-filter: blur(10px); filter: blur(10px);
    -webkit-filter: blur(8px); filter: blur(8px);
    -webkit-filter: blur(5px); filter: blur(5px);
    -webkit-filter: blur(4px); filter: blur(4px);
}

#Zootopia {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-left: solid 3.9px #b6d5ff;
}
#Sing {
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    border-left: none;
}
#Shazam {
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    border-left: none;
}
#Balto {
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    border-left: none;
}
#Zootopiaplus {
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    border-left: none;
}