[submodule "USOF-Backend"]
	path = orbimind-api
	url = https://github.com/PAXANDDOS/orbimind-api.git
[submodule "USOF-Frontend"]
	path = orbimind-react
	url = https://github.com/PAXANDDOS/orbimind-react.git
[submodule "Web-Race00"]
	path = calculator
	url = https://github.com/PAXANDDOS/calculator.git
[submodule "Web-Race01"]
	path = Heroes-of-the-Earth-199999
	url = https://github.com/PAXANDDOS/Heroes-of-the-Earth-199999.git
