h1 {
    margin-left: 30px;
    padding-bottom: 40px;
}
.box {
    position: relative;
    margin: auto;
    width: calc(100vw - 200px); /* https://html5book.ru/edinicy-izmereniya-vh-vw-vmin-vmax/ Ð¸ https://developer.mozilla.org/ru/docs/Web/CSS/calc() */ 
    padding: 25px 25px;
    font-size: 1.2em;
    background: lightgray;
}
.box::before {
    position: absolute;
    content: "";
    top: -1px;
    left: -40px;
    right: 40px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: calc(100% + 80px);
    height: 100%;
}
.box::after {
    position: absolute;
    content: "";
    top: -40px;
    right: -1px;
    bottom: 40px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    width: 100%;
    height: calc(100% + 80px);
}
