table {
    text-align: center;
    background: linear-gradient(to right, #6e0000, antiquewhite);
    border: 4px solid #000000;
    border-collapse: collapse;
}
thead {
    color: #ffe369;
    font-weight: bold;
    background-color: rgba(110, 0, 0, 0.4);
    border: 2px solid rgba(189, 195, 199, 0.05);
    padding: 10px;
}
thead th {
    padding: 10px;
}
tbody th {
    color: white;
    font-weight:  bold;
    font-size: 0.95em;
    padding: 5px 50px;
}
tr:nth-child(even) { background-color: rgba(143,148,251, 0.1); }
td {
    background: antiquewhite;
    color: midnightblue;
    padding: 5px 50px;
    border: 2px solid rgba(189, 195, 199, 0.05);
}
.FALSE {
    color: white;
    background: darkred;
}
a {
    color: white;
    font-weight: bold;
    padding: 10px;
}
tfoot th {
    padding: 5px;
}
