.player_board {
    width: 100%;
    height: 52%;
}

.player_deck {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(211, 222, 176, 0.5); */
}

.player_stat {
    width: 100%;
    height: 35%;
    /* background-color: rgba(176, 196, 222, 0.5); */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.player_stat .player_statInner {
    height: 100%;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
}
.player_stat .player_statInner .player_statLogo {
    width: 150px;
    height: 150px;
    z-index: 1;
}
.player_stat .player_statInner .player_statLogo img {
    width: 100%;
    height: 100%;
    z-index: 1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.player_stat .player_statInner .player_statLogo .player_statHealth {
    display: flex;
    position: absolute;
    margin-left: 130px;
    margin-top: -25px;
    z-index: 2;
    background-color: rgb(218, 16, 19);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1px;
    transform: rotate(45deg);
    box-shadow: inset 3px 3px 1px rgb(89, 5, 22);
}
.player_stat .player_statInner .player_statLogo span {
    color: white;
    font-weight: 500;
    font-size: 1.3em;
    transform: rotate(-45deg);
}
.player_stat .player_statInner .player_statName label {
    color: rgb(227, 227, 227);
    font-weight: 400;
    font-size: 1.2em;
}
.player_stat .player_statInner .player_statStones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    background-size: 100%;
    z-index: 2;
    margin-left: -16px;
    margin-top: -30px;
}
.player_stat .player_statInner .player_statStones img {
    width: 100%;
    height: 100%;
    filter: brightness(0.8);
}
.player_stat .player_statInner .player_statStones span#player_currentStones {
    color:white;
    font-weight: 500;
    font-size: 20px;
    transform: rotate(0);
    position: absolute;
    z-index: 2;
}

.player_hand {
    width: 100%;
    height: 30%;
    /* background-color: rgba(152, 251, 152, 0.5); */
    display: flex;
    justify-content: center;
}
.player_hand .player_handInner {
    min-width: 25%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.player_hand .player_handInner .player_handCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 130px;
    z-index: 1;
}
.player_hand .player_handInner .player_handCard img {
    height: 100%;
    width: 100%;
    z-index: 1;
}
.player_hand .player_handInner .player_handCard label#cardDefense {
    z-index: 2;
    color: white;
    font-weight: 600;
    position: absolute;
    margin-right: -96px;
    margin-top: 154px;
    font-size: 1.1em;
}
.player_hand .player_handInner .player_handCard span#cardAttack {
    z-index: 2;
    color: white;
    font-weight: 500;
    position: absolute;
    margin-left: -90px;
    margin-top: 154px;
    font-size: 1.1em;
}
.player_hand .player_handInner .player_handCard span#cardCost {
    z-index: 2;
    color: white;
    font-weight: 600;
    position: absolute;
    margin-left: -96px;
    margin-top: 12px;
    font-size: 1.2em;
}
