.enemy_board {
    width: 100%;
    height: 48%;
}
.enemy_hand {
    width: 100%;
    height: 20%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    /* background-color: rgba(255, 0, 0, 0.5); */
}
.enemy_hand .enemy_handInner {
   min-width: 25%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
}
.enemy_hand .enemy_handInner .enemy_handCard {
    height: 100%;
    width: 100px;
    background-image: url("/assets/images/cardback-half.gif");
    background-size: 100% 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.enemy_stat {
    width: 100%;
    height: 40%;
    /* background-color: rgba(210, 105, 30, 0.5); */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.enemy_stat .enemy_statInner {
    height: 100%;
    width: 180px;
    /* background-color: rgba(160, 81, 45, 0.632); */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-left: 36px;
}
.enemy_stat .enemy_statInner .enemy_statLogo {
    width: 160px;
    height: 160px;
    z-index: 1;
}
.enemy_stat .enemy_statInner .enemy_statLogo img {
    width: 100%;
    height: 100%;
    z-index: 1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.enemy_stat .enemy_statInner .enemy_statLogo .enemy_statHealth {
    display: flex;
    position: absolute;
    margin-left: 150px;
    margin-top: -25px;
    z-index: 2;
    background-color: rgb(218, 16, 19);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1px;
    transform: rotate(45deg);
    box-shadow: inset 3px 3px 1px rgb(89, 5, 22);
}
.enemy_stat .enemy_statInner .enemy_statLogo span {
    color: white;
    font-weight: 500;
    font-size: 1.2em;
    transform: rotate(-45deg);
}
.enemy_stat .enemy_statInner .enemy_statName label {
    color: rgb(227, 227, 227);
    font-weight: 400;
    font-size: 1.2em;
}
.enemy_stat .enemy_statInner .enemy_statStones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    background-size: 100%;
    z-index: 2;
    margin-left: -140px;
    margin-top: -50px;
}
.enemy_stat .enemy_statInner .enemy_statStones img {
    width: 100%;
    height: 100%;
    filter: brightness(0.8);
}
.enemy_stat .enemy_statInner .enemy_statStones span#enemy_currentStones {
    color:rgb(255, 255, 255);
    font-weight: 500;
    font-size: 15px;
    position: absolute;
    z-index: 2;
}

.enemy_deck {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(64, 0, 255, 0.5); */
    width: 100%;
    height: 40%;
}
