body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../../../assets/images/neon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(150px);
}
.window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(50, 39, 59, 0.35);
    padding: 1%;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 420px;
    backdrop-filter: blur(15px);
}
.window h1 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}
.window h1 b {
    font-weight: 700;
}
.window .profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.window .profile .avatarBox {
    width: 200px;
    height: 200px;
    animation: avatarBorder 2s infinite;
    border-radius: 3px;
}
.avatarBox img {
    width: 100%;
    height: 100%;
    opacity: 0.95;
    transition: .3s ease;
    transition-property: background-color, color, border, opacity, box-shadow;
}
.avatarBox img:hover {
    opacity: 0.9;
}
.window .profile .buttons {
    display: flex;
    flex-direction: column;
    width: calc(100% - 210px);
}
.window .profile .buttons form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.window .profile .buttons form input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(50, 39, 59, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 100%;
    min-height: 50px;
    cursor: pointer;
    text-align: center;
    color: white;
    box-shadow:  2px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    transition: .2s ease;
    transition-property: background-color, color, border, opacity, box-shadow;
}
.window .profile .buttons form input[type="submit"]:hover {
    background-color: rgba(74, 57, 87, 0.8);
    border: 1px solid rgba(196, 167, 255, 0.8);
}
.window .profile .buttons form input[type="submit"]:active {
    box-shadow:  2px 2px 10px rgba(0, 0, 0, 0.1);
}
.window .profile .buttons form input[type="submit"]:enabled {
    outline: none;
}
.window .profile .buttons form input#battleButton {
    color: rgba(0, 139, 225,1);
    font-size: 1.1em;
}
.window .profile .buttons form input#logoutButton {
    color: rgba(255, 138, 138, 0.9);
    font-size: 1.1em;
}


@keyframes avatarBorder {
    0% {
        border: 2px solid rgba(255, 255, 255, 0.3);
    }
    50% {
        border: 2px solid rgba(255, 255, 255, 0.65);
    }
    100% {
        border: 2px solid rgba(255, 255, 255, 0.3);
    }
}

.stats {
    margin-top: 10px;
}
.stats .content {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.stats .content .headers {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.stats .content .headers label {
    padding: 4% 0;
    color: white;
    font-weight: 500;
    font-size: 1.15em;
}
.stats .content .data {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.stats .content .data label {
    padding: 4% 0;
    color: white;
    font-weight: 700;
    font-size: 1.15em;
}