#rainbow-block {
  height: 100px;
  width: available;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}
#horn-block {
  border-right: 60px solid transparent;
  border-bottom: 120px solid gray;
  border-left: 60px solid transparent;
  margin: -40px 0 0 100px;
  width: 0;
}
